#gloc{
    position: absolute;
    font-family: Bradley Hand ITC;
    margin-top: 14%;
    margin-left:75%;
    font-size: 15px;
    color: brown;
    font-weight:600;
  }
  #cloc{
    position: absolute;
    font-family: Bradley Hand ITC;
    margin-top: 15%;
    margin-left:4%;
    color: brown;
    font-weight:600;
  }
  #logo{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 6%;
    height: 130px;
    width: 130px;
    border-radius: 100px;
    margin-left:5%;
  }
  #google_college{
    
    border-radius: 10px;
    position: absolute;
    width: 45px;
    height: 55px;
    margin-top: 10%;
    margin-left:77%;
  } 
  .col{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-bottom: 5px;
  }
   
  #name{
    
    position:absolute;
    margin-top: 10.5%; 
    left: 35%; 
    transform: translate(-30%, -50%);
    font-size: 45px;
      /* -webkit-text-stroke: 1px rgb(61, 80, 187);  */
    color: transparent;
     background-image: linear-gradient(rgb(12, 12, 90), rgb(12, 12, 90));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -350px 0;
    animation:backcolor 2s linear infinite alternate; 
    font-family: Baskerville Old Face;
    font-weight: 900; 
  }
  @keyframes backcolor{
    100%{
        background-position: 0 0;
    }
  }
.main{
    width: 100%;
    height: fit-content;
    background-image:url("../images/first.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-out;
    padding-top: 5px;
    border: 1px solid red;
  }
  @keyframes change{
    0%{
        background-image: url(../images/first.avif);
    }
    40%{
        background-image: url(../images/front.jpg);
    }
    80%{
        background-image: url(../images/fifth.jpg);
    }
   
  }
  #mine{
    padding-top: 40px;
    font-family: Baskerville Old Face;
  }
  .about_homes
  {   
    margin-top: -7%;
    margin-left: 6%;
    color: white;
    font-size: 22px;
    line-height: 1.5em;
  }
  #about_clg{
    
    text-decoration: underline;
    font-style: italic;
    color: brown;
    
  }
  footer{
    margin-left: 46%;
    margin-top:10%;
  }
  footer img{
    height:30px;
    width:30px;
  }
  #visit{
    font-style: oblique;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 0.5%;
    color:rgb(12, 12, 90);
   
  }
  #location_copy{
    color:brown;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  #copy{
    margin-left:66%;
    margin-top:3%;
  }
  #location{
    margin-left: 1%;
    margin-bottom:3%;
  }
  

  /* #gloc{
    position: absolute;
    font-family: Bradley Hand ITC;
    margin-top: 10%;
    margin-left:80%;
    font-size: 15px;
    color: brown;
    font-weight:600;
  }
  #cloc{
    position: absolute;
    font-family: Bradley Hand ITC;
    margin-top: 10%;
    margin-left:1%;
    color: brown;
    font-weight:600;
  }
  #logo{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left:2%;
  }
  #google_college{
    
    border-radius: 10px;
    position: absolute;
    width: 40px;
    height: 42px;
    margin-top: 6%;
    margin-left:82%;
  }
  /*     
  }
  .tooltip{
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    margin-top: 8%;
    margin-left: 80%;
  }
  .tooltip .tooltiptext{
    
    visibility: hidden;
   
  }
  .tooltip:hover  .tooltiptext{
    visibility: visible;
  } 
  
  .col{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #name{
    position:absolute;
    padding-top: 36px;
    left: 35%;
    transform: translate(-30%, -50%);
    font-size: 40px;
      -webkit-text-stroke: 1px rgb(61, 80, 187); 
    color: transparent;
     background-image: linear-gradient(rgb(12, 12, 90), rgb(12, 12, 90));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -350px 0;
    animation:backcolor 2s linear infinite alternate; 
     font-family: Bradley Hand ITC;
    font-weight: 900;
  }
   
  @keyframes backcolor{
    100%{
        background-position: 0 0;
    }
  }
  #img{
    height: 30px;
    width: 30px;
  }
  ul li{
    display: inline-block;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  .nav-links li a{
    text-decoration: none;
    color:rgb(10, 10, 56);
    font-weight: 30px;
  }
  .nav-links li a:hover {
    color: #941e1e;
    text-decoration: underline;
  }
  ul{
    position: fixed;
    left: 15%;
    top:10%;
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: center;
    padding: 10px 20px;
  } */
  